// variables goes here

//colors
$primary:#8890a4;
$green:#67c60b;
$grey:#e6e9ed;
$bggrey:#f4f5f5;
$white:#fff;
$black:#000;
$blue:#389bff;
$error:#E01E1A;
$placeholder:#cdd0d4;

//fonts
$lato:'Lato', sans-serif;
$montserrat: 'Montserrat', sans-serif;